<div>
<div class="result">
Voici votre consommation en CO2
</div>

<div class="title">
Cela représente en voiture : <%= @distance %> kg de CO2.
</div>

<div class="title">
Cela représente en transport en commun un total de <%= @distance %> kg de CO2.
</div>

<div class="title">
<%= link_to 'Calculer pour un autre itinéraire', :back %>
</div>
</div>